div{
    background-color : #78A8AF;
    width : 500px;
    border-radius : 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


   /* display : inline-block;*/

}

div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

p{
    margin-left : 10px;
}